/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600,700&display=swap");

@import "variables/variables";
@import "base/base";
@import "components/header"; 
 

/* HOME */ 
.home {
  background: url("../img/background.jpg") no-repeat center center / cover;
  height: 100vh;
  min-height: 500px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.home__title {
  color: $white-color-text;
  font-size: var(--bigger-font-size);
  text-align: center;
}

.home__play {
  text-align: center;
}

.home__play-text {
  margin: 1.5rem;
}

.home__play-icon i {
  background-color: $first-color;
  color: $white-color;
  border-radius: 50%;
  transition: all 0.5s; 
}

.home__play-icon i:hover {
  background-color: $dark-color; 
}

  

/* Social Media */

.social-media {
  position: fixed;
  right: 10px;
  bottom: 0;
  background-color: $first-color;
  padding: 0.75rem 1.5rem 0.35rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.social-media i {
  color: $white-color;
  font-size: 30px;
  margin: 0 7px;
}

.social-media i:hover {
  color: $dark-color; 
  /* opacity: 0.5; */
}

  
/* Responsive */
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .nav__toggle {
    display: none; 
  }

  .home { 
    flex-direction: row; 
  }

  .home__title { 
    text-align: left;
  }

  .home__play {
    display: flex;
    align-items: center;
  }

}
